@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
:root {
  --header-light-blue: #c3e3ef;
  --theme-orange: #e6ad73;
  --theme-blue: #73c8e5;
}

h1 {
  font-size: 45px;
}

.itim {
  font-family: "Itim", cursive !important;
}

.logo {
  width: 100px;
  margin-top: 20px;
}

.bg-home {
  background-image: url(../public/bg-home.jpg);
  background-size: cover;
  background-position: center;
}

/* signup form */
.signup-form {
  background-color: #f1f1f1;
  max-width: 360px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.header {
  height: 12dvh;
  display: flex;
  align-items: center;
  background-color: var(--header-light-blue);
  box-shadow: 2px 2px 2px gray;
}

/* profile */
.profile-form {
  max-width: 800px;
  padding: 50px;
  border-radius: 5px;
  background-color: var(--header-light-blue);
  box-shadow: 5px 5px 5px rgb(181, 181, 181);
  margin: 0 auto !important;
  font-size: 17px;
  font-weight: 600;
}

.profile-row {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.image-upload-dropbox {
  padding: 50px;
  margin-top: 10px;
  background-color: #eafaff;
  text-align: center;
  border-radius: 10px;
  color: #7e7e7e !important;
}

/* dashboard  */
.tinder-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 88dvh;
}

.swipe {
  max-width: 640px;
  min-height: 450px;
  position: absolute;
}

.card-container {
  width: 90vw;
  max-width: 640px;
  min-height: 450px;
  display: flex;
  justify-content: center;
}

.card {
  position: relative;
  width: 80vw;
  max-width: 640px;
  min-height: 450px;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3) !important;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.card-content {
  width: 100%;
  height: 100%;
}

.buttons {
  margin: 40px 0;
  width: 260px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}

/* detail */
.detail {
  background-color: #f1f1f1 !important;
  position: relative;
  margin: 0 auto;
  min-height: 450px;
  max-width: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.5) !important;
  border-radius: 20px;
  padding: 10px;
}

.detail-info {
  width: 300px;
  text-align: center;
}
@keyframes popup {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 1.1);
  }
  30% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1, 1);
  }
  57% {
    transform: scale(1, 1);
  }
  64% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.no-match {
  text-align: center;
  margin-top: 10dvh;
}

.no-match * {
  margin-top: 30px;
}

/* chat  */

.chat-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  margin: 0 auto;
}

.chat-box {
  display: flex;
  align-items: center;
}

.message-box {
  padding: 10px;
  background-color: #caedff;
  border-radius: 5px;
}
