@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

h1 {
  font-size: 45px;
}

.kalam {
  font-family: "kalam", cursive !important;
}

.logo {
  width: 100px;
  margin-top: 20px;
}

.bg-home {
  background-image: url(../public/bg-home.png);
  background-size: cover;
  background-position: center;
}

/* signup form */
.signup-form {
  background-color: #fff;
  max-width: 360px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
