@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

h1 {
  font-size: 45px;
}

.lobster {
  font-family: "Lobster", cursive;
}

.logo {
  width: 40%;
  margin-top: 20px;
}

.bg-home {
  background-image: url(../public/bg-home.png);
  background-size: cover;
  background-position: center;
}
